:root {
  --primary-color: rgb(105, 73, 103);
  --secondary-color: #434146;
  --tertiary--color: White;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(171, 165, 179);
  font-family: sans-serif;
}

/*header section*/
header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 80px;
  align-items: center;
  position: relative;
}

.main_title {
  background-color: white;
  padding: 0 5px 0 50px;
  margin: 10px 10px 20px 0;
  font: 20px normal;
  height: auto;
  width: auto;
}

.main_title a {
  text-decoration: none;
  color: var(--primary-color);
  font: sans-serif;
}

.navigation {
  display: flex;
}

.navigation nav ul {
  list-style: none;
  display: flex;
  margin: 0 50px;
}

.navigation nav ul li,
.navigation nav ul li a {
  padding: 25px 20px;
  font-size: 30px;
  font-weight: lighter;
  color: var(--tertiary--color);
  text-decoration: none;
}

.navigation nav ul li span {
  cursor: pointer;
}

/*End of Header section*/

/* Hero section */
.subtitle {
  font-size: 20px;
  background-color: var(--tertiary--color);
  color: var(--primary-color);
  padding: 5px 5px;
  margin: 15px;
  position: absolute;
}

.cover {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 200px;
}

.cover_image {
  width: 100%;
  height: 100%;
}

/*End of Hero Section*/

/*about me section*/
.about_me {
  margin: 0px 10px 30px 0px;
  padding: 10px;
}

.description {
  background-color: var(--primary-color);
  text-align: justify;
  font-size: 20px;
}

.description p {
  padding: 10px
}

.about_me img {
  height: 120px;
  margin: 15px;
}

/*portfolio section*/
.title {
  font-size: 22px;
  color: var(--secondary-color);
  margin: 10px;
}

.project_wrap,
.resume {
  background-color: var(--primary-color);
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  color: var(--tertiary--color);
  margin-bottom: 20px;
}

.prework {
  cursor: pointer;
  max-width: 35%;
  margin-bottom: 10px;
}

.project_name {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--tertiary-color);
}

.box {
  border: 5px solid var(--primary-color);
  box-shadow: 4px 4px 8px #493858;
  border-radius: 5px;
  margin: 20px;
  max-width: 60%;
}

/* modal */
.modalBackdrop {
  background: rgba(0, 0, 0, .65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--primary-color);
  border-radius: 5px;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
  text-align: center;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;

}

.modalImage {
  height: 70%;
  width: 70%;
}

.modalContainer p {
  font-weight: bold;
  padding: 10px;
}

.modalContainer p a {
  text-decoration: none;
  color: var(--tertiary--color);
}

/*Contact Me section*/
.contact_form {
  width: 80%;
  margin: auto;
}

.contact_me div {
  display: flex;
  margin-bottom: 10px;
}

.contact_me div label {
  cursor: default;
  width: 20%;
  margin-left: 10px;
}

.contact_me textarea,
.contact_me input {
  width: 80%;
}

.contact_me textarea {
  height: 120px;
  border: 3px;
  padding: 5px;
}

.button_wrapper {
  justify-content: end;
}

/* resume section */
.download {
  margin: 20px;
}

.resume li,
.resume h2 {
  margin: 20px;
}

/* Footer section */

.footer {
  color: var(--secondary-color);
  margin: 20px 10px 0px 60px;
  display: flex;
  justify-content: center;
}

.links a {
  margin: 10px;
  font-size: larger;
}


.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}


/*MEDIA QUERY FOR SMALLER DESKTOPS SCREENS*/
/*this will be applied on any screen smaller than 980px*/
@media screen and (max-width:980px) {
  .description {
    min-height: 500px;
  }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
/*this will be applied on any screen between 768px to 575px*/
@media screen and (max-width:768px) {
  .contact_info {
    display: flex;
    flex-direction: column;
  }
 
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  
  .contact_info div {
    border-bottom: none;
  }

  .navigation nav ul {
    margin: 0;
  }

  .navigation nav ul li a,
  .navigation nav ul li span {
    font-size: 22px;
  }

  .title {
    font-size: 18px;
  }
}


/*MEDIA QUERIE FOR MOBILE PHONES AND SMALLER*/
/*this will be applied on any screen smaller than 575px*/
@media screen and (max-width:575px) {

  .navigation nav ul li a,
  .navigation nav ul li span {
    font-size: 15px;
  }

  .title {
    font-size: 14px;
  }

  .button-72 {
    font-size: 15px;
    padding: 10px 24px;
  }

  .description {
    padding: 5px;    
  }

  .contact_me .description {
    font-size: 14px;
  }
}